@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    font-family: "Roboto Mono", monospace;
}

/*NAV----------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e2e2e;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: #0047AB;
}

#nome-principal {
    display: flex;
    align-items: center;
}

#nome-principal a {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu {
    display: flex;
    gap: 20px;
}

@media (max-width: 850px) {
    nav {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    #nome-principal a {
        font-size: 1.2rem;
        text-align: center;
        background-color: white;
        color: #0047AB;
    }

    #menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #menu a {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
        background-color: gray;
    }
}

/*BOX PRINCIPAL-----------------------*/

#box-principal {
    display: flex;
    margin: 100px auto 100px auto;
    width: 700px;
    height: 100%;
    border: 1px solid #0047AB;
    box-shadow: 15px 15px #0047AB;
    background-color: white;
}

#box-principal:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    box-shadow: 15px 15px #ffffff;
    transition: 0.5s ease;

    #imagem-box img {
        background-color: white;
        transition: 0.5s ease;
    }
}

#box-principal #descricao {
    margin: auto 0px auto 0px;
    width: 150%;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 40px;
}

#ola {
    font-size: 3rem;
    color: #AB7100;
}

.tecnologia {
    color: #0047AB;
    font-weight: 700;
}

.marcante {
    color: #AB7100;
    font-weight: 700;
}

#box-principal #imagem-box {
    display: flex;
    width: 100%;
    justify-content: right;
}

#imagem-box img {
    border-radius: 50%;
    width: 180px;
    height: 200px;
    margin: auto;
    padding: 5px;
    background-color: #0047AB;
}

@media (max-width: 860px) {
    #box-anterior {
        display: flex;
        width: 100%;
        height: 350px;
        padding: 0px 30px;
        margin-top: 15px;
        width: 100%;
        height: 100%;
    }

    #box-principal {
        flex-direction: column-reverse;
        margin: 10px auto;
        width: 100%;
        height: 100%;
        box-shadow: 8px 8px #0047AB;
        ;
    }

    #box-principal #descricao {
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
        line-height: 30px;
    }

    #box-principal #descricao p {
        width: 100%;
        height: 100%;
    }

    .tecnologia {
        font-size: 1.2rem;
    }

    .marcante {
        font-size: 1.2rem;
    }

    #imagem-box img {
        width: 90px;
        height: 100px;
        margin: 20px auto;
    }
}

/*PROJETOS----------------------------*/

#projects {
    display: flex;
    margin: 90px;
}

#projects a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
}

#projects a:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#box-projetos {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px 1px gray inset;
}

#btn-esq, #btn-dir {
    width: 100px;
    height: 200px;
    margin: auto;
    box-shadow: 10px 10px 10px gray;
}

#btn-esq img, #btn-dir img {
    width: 100%;
}

#btn-esq:hover {
    transform: scale(1.2);
}

#btn-dir:hover {
    transform: scale(1.2);
}

#projetos {
    display: flex;
    width: 1100px;
    height: 100%;
    gap: 50px;
    padding: 30px;
    margin: auto;
}

.proj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(103, 103, 103);
}

.img-proj {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: #0047AB;
    margin: 20px auto;
}

.proj .img-proj img:hover {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    padding: 0px;
}

.proj img {
    width: 300px;
    height: 150px;
    margin: auto;
    padding: 5px;
}

.descricao-projeto {
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 10px;
}

.titulo-proj {
    display: flex;
    background-color: black;
    height: 150px;
    padding: 5px;
}

.titulo-proj h2 {
    color: white;
    text-align: center;
    margin: auto;
}

.descricao-projeto a {
    margin-bottom: 10px;
}

.descricao-projeto #descricao {
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    color: white;
}

.descricao-projeto #descricao p {
    margin: auto;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 5px;
}

.descricao-projeto #descricao:hover {
    background-color: black;
    width: 100%;
    height: 100%;
}

#logo-github {
    display: flex;
    width: 70px;
    height: 70px;
    margin: 10px auto auto auto;
    border-radius: 50%;
    background-color: gray;
    padding: 5px;
}

#logo-github:hover {
    background-color: white;
    transition: 0.3s ease;
}

#logo-github img {
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    #projects {
        margin: 30px auto;
    }

    #box-projetos, #projetos, .proj, .proj, .proj img, #descricao-projeto {
        width: 100%;
    }

    #box-projetos {
        padding: 10px;
    }

    .proj {
        width: 100%;
        height: 100%;
    }

    .img-proj {
        width: 250px;
        height: 125px;
        margin: 10px;
    }

    .img-proj img {
        width: 100%;
        height: 100%;
    }

    #projetos {
        padding: 10px;
    }

    .titulo-proj h2 {
        font-size: 1.1rem;
    }

    .descricao-projeto #descricao p {
        font-size: 0.8rem;
    }
}

/*SOBRE MIM----------------------------*/

#sobre-mim {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 100%;
    background-color: rgb(37, 37, 37);
    margin: auto;
    box-shadow: 0px 1px 20px 5px #7d7d7d4d
}

#box-sm {
    margin: auto;
}

#titulo {
    color: white;
    display: flex;
    width: 100%;
    background-color: gray;
    align-items: center;
    padding: 5px;
}

#titulo h2 {
    margin: 0px auto;
}

#box-sm p {
    font-size: 1.1rem;
    font-weight: 200;
    width: 100%;
    text-align: justify;
    color: white;
    padding: 20px;
    margin: auto;
}

@media (max-width: 950px) {
    #sobre-mim {
        width: 100%;
    }

    #titulo {
        height: 60px;
    }

    #box-sm p {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        font-size: 0.8rem;
    }
}

/*RODAPE-------------------------------*/

footer {
    display: flex;
    background-color: black;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 5px;
    gap: 5px;
}

footer a, span {
    text-decoration: none;
    color: white;
    margin: auto;
}

#descricao-footer {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    text-align: center;
}

#descricao-footer p {
    margin: auto 0px;
}

#redes-sociais {
    display: flex;
    font-size: 0.8rem;
    gap: 5px;
    margin: 5px;
}

.img-rede-social {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 1px;
}

.img-rede-social img {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
}

.img-rede-social:hover {
    border-radius: 0px;
    background-color: white;
    transition: 0.3s ease;
}

#gmail {
    font-weight: 700;
    padding: 5px;
}

#gmail:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#linkedin {
    font-weight: 700;
    padding: 5px;
}

@media (max-width: 530px) {
    footer {
        width: 100%;
        height: 100%;
        padding: 5px;
        gap: 5px;
    }

    #descricao-footer {
        width: 100%;
        height: 100%;
        padding: 5px;
        margin: 0px;
    }

    #descricao-footer p {
        width: 100%;
        height: 100%;
        font-size: 0.5rem;
        margin: auto;
    }

    #redes-sociais {
        width: 100%;
        height: 100%;
        font-size: 0.5rem;
        gap: 5px;
        justify-content: right;
        margin: 0px;
    }

    #redes-sociais a, span {
        margin: auto;
        font-size: 0.5rem;
    }

    .img-rede-social {
        width: 25px;
        height: 25px;
        padding: 2px;
        background-color: white;
        margin: 0px;
    }
}