@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    font-family: "Roboto Mono", monospace;
}

/*NAV----------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e2e2e;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: #0047AB;
}

#nome-principal {
    display: flex;
    align-items: center;
    gap: 10px;
}

#nome-principal a {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    gap: 20px;
}

@media (max-width: 850px) {
    nav {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    #nome-principal img{
        padding-right: 5px;
    }

    #nome-principal a {
        font-size: 1.2rem;
        text-align: center;
        background-color: white;
        color: #0047AB;
    }

    #menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #menu a {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
        background-color: gray;
    }
}

/*BOX PRINCIPAL-----------------------*/

#box-principal {
    display: flex;
    margin: 80px auto 0px auto;
    width: 700px;
    height: 350px;
    border: 1px solid #0047AB;
    box-shadow: 15px 15px #0047AB;
    background-color: white;
}

#box-principal:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    box-shadow: 15px 15px #ffffff;
}

#box-principal #descricao {
    margin: auto 0px auto 0px;
    width: 450px;
    padding: 30px;
    font-size: 1.5rem;
    line-height: 40px;
    transition: 0.2s ease;
}

#ola {
    font-size: 3rem;
    color: #AB7100;
}

.tecnologia {
    color: #0047AB;
    font-weight: 700;
}

.marcante {
    color: #AB7100;
    font-weight: 700;
}

#box-principal #imagem-box {
    display: flex;
}

#imagem-box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

@media (max-width: 770px) {
    #box-principal{
        flex-direction: column-reverse;
        margin: 20px auto;
        width: 300px;
        height: 100%;
    }

    #box-principal #descricao{
        width: 100%;
        font-size: 1.2rem;
        padding: 10px;
        text-align: justify;
    }

    #imagem-box img{
        width: 100px;
        height: 100px;
        margin: 20px auto;
    }
}

/*PROJETOS----------------------------*/

#projects {
    display: flex;
    margin: 90px;
}

#projects a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
}

#projects a:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#box-projetos {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px gray inset;
}

#projetos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 30px;
}

.proj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 100%;
    background-color: gray;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(103, 103, 103);
}

.proj .img-proj {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: #0047AB;
    margin: 20px auto;
}

.proj .img-proj img:hover {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    padding: 0px;
}

.proj img {
    width: 300px;
    height: 150px;
    margin: auto;
    padding: 5px;
}

.descricao-projeto {
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 10px;
}

.titulo-proj {
    display: flex;
    background-color: black;
    height: 150px;
    padding: 5px;
}

.titulo-proj h2 {
    color: white;
    text-align: center;
    margin: auto;
}

.descricao-projeto a {
    margin-bottom: 10px;
}

.descricao-projeto #descricao {
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    color: white;
}

.descricao-projeto #descricao p {
    margin: auto;
    font-size: 0.9rem;
    font-weight: 300;
}

.descricao-projeto #descricao:hover {
    background-color: black;
    width: 100%;
    height: 100%;
}

#logo-github {
    display: flex;
    width: 70px;
    height: 70px;
    margin: 10px auto auto auto;
    border-radius: 50%;
    background-color: gray;
    padding: 5px;
}

#logo-github:hover {
    background-color: white;
}

#logo-github img {
    width: 100%;
    height: 100%;
}

@media (max-width: 770px) {
    #projects{
        margin: 30px auto;
    }

    #box-projetos, #projetos, .proj, .proj .img-proj, .proj img, #descricao-projeto{
        width: 100%;
    }
    
    #box-projetos{
        padding: 10px;
    }

    .proj{
        width: 500px;
        height: 500px;
    }

    #projetos{
        padding: 20px;
    }

    .titulo-proj h2{
        font-size: 1.1rem;
    }

    .descricao-projeto #descricao p{
        font-size: 0.8rem;
    }
}

/*SOBRE MIM----------------------------*/

#sobre-mim {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 100%;
    background-color: rgb(37, 37, 37);
    margin: auto;
    box-shadow: 0px 1px 20px 5px #7d7d7d4d
}

#box-sm {
    margin: auto;
}

#titulo {
    color: white;
    display: flex;
    width: 100%;
    background-color: gray;
    align-items: center;
    padding: 5px;
}

#titulo h2 {
    margin: 0px auto;
}

#box-sm p {
    font-size: 1.1rem;
    width: 100%;
    text-align: justify;
    color: white;
    padding: 20px;
    margin: auto;
}

@media (max-width: 950px) {
    #sobre-mim{
        width: 100%;
    }

    #titulo{
        height: 60px;
    }

    #box-sm p{
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        font-size: 0.8rem;
    }
}

/*RODAPE-------------------------------*/

footer {
    display: flex;
    background-color: black;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 10px
}

footer a, span {
    text-decoration: none;
    color: white;
    margin: auto;
}

footer div {
    display: flex;
}

#descricao-footer {
    font-size: 0.8rem;
}

footer #redes-sociais {
    font-size: 0.9rem;
}

#gmail {
    font-weight: 700;
    padding: 5px;
}

#gmail:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#linkedin {
    font-weight: 700;
    padding: 5px;
}

#linkedin:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

@media (max-width: 770px) {
    #descricao-footer{
        width: 100%;
        height: 100%;
        font-size: 0.5rem;
        text-align: center;
    }

    footer{
        padding: 10px;
    }

    footer #redes-sociais{
        width: 100%;
        height: 100%;
        font-size: 0.5rem;
        gap: 0px;
    }

    footer #redes-sociais a{
        font-size: 0.5rem;
    }
}