* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F0E6;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    gap: 100px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

nav a:hover {
    color: #AB7100;
    transition: color 0.3s ease;
}

#nome-principal {
    display: flex;
    gap: 3px;
}

#nome-principal a {
    font-size: 2rem;
}

#menu {
    display: flex;
    gap: 25px;
}

#menu a {
    font-size: 1.2rem;
}

#box-principal {
    display: flex;
    margin: 80px auto 0px auto;
    width: 700px;
    height: 350px;
    border: 1px solid #0047AB;
    box-shadow: 15px 15px #0047AB;
    background-color: white;
}

#box-principal #descricao {
    margin: auto 0px auto 0px;
    width: 450px;
    padding: 30px;
    text-align: justify;
    font-size: 1.2rem;
}

.tecnologia {
    color: #0047AB;
    font-weight: 700;
}

.marcante {
    color: #AB7100;
    font-weight: 700;
}

#box-principal #imagem-box {
    display: flex;
}

#imagem-box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto 20px;
}

#projects {
    display: flex;
    margin: 70px;
}

#projects h2 {
    margin: auto;
}

#projetos {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    padding: 40px;
    margin: 200px auto;
    align-items: center;
}

#projetos div {
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.img-projeto img {
    width: 100%;
}

.descricao-projeto h2 {
    text-align: center;
}

.descricao-projeto a {
    text-align: center;
    text-decoration: none;
    color: black;
}