@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    font-family: "Roboto Mono", monospace;
}

/*NAV----------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    gap: 100px;
    align-items: center;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 10px;
}

nav a:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#nome-principal {
    display: flex;
    gap: 5px;
}

#nome-principal a {
    font-size: 2rem;
}

#menu {
    display: flex;
    gap: 25px;
}

#menu a {
    font-size: 1.1rem;
}

/*BOX PRINCIPAL-----------------------*/

#box-principal {
    display: flex;
    margin: 80px auto 0px auto;
    width: 700px;
    height: 350px;
    border: 1px solid #0047AB;
    box-shadow: 15px 15px #0047AB;
    background-color: white;
}

#box-principal #descricao {
    margin: auto 0px auto 0px;
    width: 450px;
    padding: 30px;
    font-size: 1.5rem;
    line-height: 40px;
}

.tecnologia {
    color: #0047AB;
    font-weight: 700;
}

.marcante {
    color: #AB7100;
    font-weight: 700;
}

#box-principal #imagem-box {
    display: flex;
}

#imagem-box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

/*PROJETOS----------------------------*/

#projects {
    display: flex;
    margin: 90px;
}

#projects a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
}

#projects a:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#box-projetos {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px gray inset;
}

#projetos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 30px;
}

.proj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 100%;
    background-color: gray;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(103, 103, 103);
}

.proj .img-proj {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: #0047AB;
    margin: 20px auto;
}

.proj .img-proj img:hover {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    padding: 0px;
}

.proj img {
    width: 300px;
    height: 150px;
    margin: auto;
    padding: 5px;
}

.descricao-projeto {
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 10px;
}

.titulo-proj{
    display: flex;
    background-color: black;
    height: 150px;
    padding: 5px;
}

.titulo-proj h2 {
    color: white;
    text-align: center;
    margin: auto;
}

.descricao-projeto a {
    margin-bottom: 10px;
}

.descricao-projeto #descricao {
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    color: white;
}

.descricao-projeto #descricao p {
    margin: auto;
    font-size: 0.9rem;
    font-weight: 300;
}

.descricao-projeto #descricao:hover {
    background-color: black;
    width: 100%;
    height: 100%;
}

#logo-github {
    display: flex;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-color: gray;
    padding: 5px;
}

#logo-github:hover {
    background-color: white;
}

#logo-github img {
    width: 100%;
    height: 100%;
}

/*SOBRE MIM----------------------------*/

#sobre-mim {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    height: 500px;
    background-color: rgb(37, 37, 37);
    margin: auto;
    box-shadow: 0px 1px 20px 5px #7d7d7d4d
}

#box-sm {
    margin: auto;
}

#titulo {
    color: white;
    display: flex;
    width: 100%;
    background-color: gray;
    align-items: center;
    padding: 5px;
}

#titulo h2 {
    margin: 0px auto;
}

#box-sm p {
    font-size: 1.1rem;
    width: 700px;
    text-align: justify;
    color: white;
    padding: 10px;
    margin: auto;
}

/*RODAPE-------------------------------*/

footer {
    display: flex;
    background-color: black;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 10px
}

footer a, span {
    text-decoration: none;
    color: white;
    margin: auto;
}

footer div {
    display: flex;
}

#descricao-footer {
    font-size: 0.8rem;
}

footer #redes-sociais {
    font-size: 0.9rem;
    gap: 10px;
}

#gmail {
    font-weight: 700;
    padding: 5px;
}

#gmail:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}

#linkedin {
    font-weight: 700;
    padding: 5px;
}

#linkedin:hover {
    background-color: white;
    color: #0047AB;
    transition: color 0.3s ease;
}